.card.code>:nth-child(2)>* {
	flex: 1;
}
.card.code>:nth-child(2)>:nth-child(2) {
	white-space: nowrap;
}

.card.code {
	vertical-align: middle;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-self: middle;
	position: relative;
	display: inline-flex;
}


.card.code {
	height: 2.474cm;
}
.card.code>:nth-child(2)>:nth-child(2) {
	font-size: 1.8em;
}
.card.code>:first-child>:nth-child(2),
.card.code>:last-child>:nth-child(2),
.card.code .code {
	font-size: 7pt;
	font-family: monospace;
}

.card.code .code {
	border-top: 1px dashed grey;
	border-right: 1px dashed grey;
}

.card.code>:first-child>*,
.card.code>:last-child>* {
	white-space: nowrap;
}