:root {
	--ch1: calc(clamp(0,var(--cph1),0.5) * var(--sh1));
	--cv1: calc(clamp(0,var(--cpv1),0.5) * var(--sv1));
	
	
	--mh1: calc(var(--sh1) - 2*var(--ch1));
	--mv1: calc(-1*var(--cv1));
}

body {
	display: grid;
}

.container.main {
	--sh: var(--sh1);
	--sv: var(--sv1);
	--r: var(--r1);
	
	--cph: var(--cph1);
	--cpv: var(--cpv1);
	
	--mh: var(--mh1);
	--mv: var(--mv1);
	
	--b: 0;
}

.container.gaps {
	--sh: var(--mh1);
	--sv: calc(var(--sv1) - 2*var(--cv1));
	
	--cph: 0;
	--cpv: 0;
	
	--mh: var(--sh1);
	--mv: calc(-1*var(--mv1));
	
	--b: 1;
}


.container {
	--ch: calc(clamp(0,var(--cph),1) * var(--sh));
	--cv: calc(clamp(0,var(--cpv),1) * var(--sv));
	
	--f: calc(2 * (var(--sv1) - var(--cv1)));
	
	--o: calc(var(--b)*var(--f)/2);
	
	grid-area: 1 / 1;
	font-size: 0;
	margin-top: calc(-1*var(--mv)/2);
}



.container>div {
	clip-path: polygon(var(--ch) 0, calc(100% - var(--ch)) 0,100% var(--cv),100% calc(100% - var(--cv)), calc(100% - var(--ch)) 100%, var(--ch) 100%, 0 calc(100% - var(--cv)), 0 var(--cv));
	
	width: var(--sh);
	height: var(--sv);
	margin: calc(var(--mv)/2) calc(var(--mh)/2);
	display: inline-block;
}

.container:before {
	content: "";
	width: calc((var(--sh) + var(--mh)) / 2);
	float: left;
	height: 140%;
	
	shape-outside: repeating-linear-gradient(
	#0000 0 calc(var(--f) - var(--o) - 2px),
	#000 0 calc(var(--f) - var(--o) - 1px),
	#0000 0 var(--f));
}
