.card.main {
	width: 18cm;
	height: 6.6cm;
	font-family: monospace;
	padding: 1em;
	position: relative;
	overflow: hidden;
	//border: 8px solid;
	border-bottom: 1pt dashed white;
	border-right: 1pt dashed white;
}

.card.main .card {
	border: none;
}


.card.main .card.tile,
.card.main .card.code,
.card.main .card.surprise {
	display: inline-flex;
	/*border: 1px dashed black;*/
}

.card.main .card.tile {
	font-size: 10pt;
}

.abs {
	position: absolute;
}

/*

.abs>*,
.b>* {
	vertical-align: top;
}

.bases {
	vertical-align: top;
}*/




.properties {
	position: absolute;
	right: 0;
	top: 1.5cm;
	display: inline-block;
	width: 7cm;
	font-size: 10pt;
	
}

.properties>* {
	display: inline-block;
	position: absolute;
	right: 0;
	font-size: 12px;
	background-color: green;
}

