.card.surprise>:first-child>:first-child>*,
.card.surprise>:first-child>:last-child>* {
	border: solid black 1px;
	border-radius: 1000px;
}






.card.surprise {
	height: calc(3 * 2.474cm);
}


.card.surprise>:nth-child(2)>:nth-child(2) {
	display: flex;
	font-size: 0.9em;
}

.card.surprise>:nth-child(2)>:nth-child(2)>div {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.card.surprise>:nth-child(2)>:nth-child(2)>div>span {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.card.surprise>:first-child>div,
.card.surprise>:last-child>div {
	padding: 0.1em;
}



.card.surprise.event .type::before {
	content: "Ereignis";
}
.card.surprise.action .type::before {
	content: "Aktion";
}
.card.surprise.attack .type::before {
	content: "Aktion/Angriff";
}
.card.surprise.reaction .type::before {
	content: "Reaktion";
}
.card.surprise.skill .type::before {
	content: "Fähigkeit";
}