:root {
	--size: calc(2.41421356*2.2cm);
	
	--sh1: var(--size);
	--sv1: var(--size);
	
	--cph1: 0.3;
	--cpv1: 0.3;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.card.tile {
	vertical-align: middle;
	text-align: center;
	font-size: 1cm;
	flex-direction: column;
	justify-content: center;
	align-self: middle;
	position: relative;
	display: inline-flex;
}


.card.tile .number {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 0.1cm;
	font-size: 10pt;
}

.card.tile:is(.crown, .compass, .robot, .factory, .castle, .bank)
{
	font-size: 3cm;
}

.card.tile {
	background-attachment: fixed;
	background-origin: border-box;
}


.card.tile.stone {
	background-image: url("../res/img/tiles/stone/pexels-scott-webb-2117937.jpg");
	background-size: calc(4 * var(--size));
}
.card.tile.dirt {
	background-image: url("../res/img/tiles/dirt/pexels-eva-elijas-6087685-part.jpg");
	background-size: calc(2 * var(--size));
}
.card.tile.sand {
	background-image: url("../res/img/tiles/sand/pexels-may-barros-1260840.jpg");
	background-size: calc(2 * var(--size));
}
.card.tile.wood {
	background-image: url("../res/img/tiles/wood/pexels-fwstudio-172286.jpg");
	background-size: calc(4 * var(--size));
}
.card.tile.wall {
	background-image: url("../res/img/tiles/wall/pexels-pixabay-220182.jpg");
	background-size: calc(6 * var(--size));
}
.card.tile.water {
	background-image: url("../res/img/tiles/water/pexels-darcy-lawrey-783968.jpg");
	background-size: calc(4 * var(--size));
}


.card.tile:is(.stone, .dirt, .sand, .wood, .wall, .water) {
	font-size: 0;
}
